---
import OrdersTable from '../components/OrdersTable.vue'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <OrdersTable client:load>
  </body>
</html>